/*---/ media query css start here /*---*/

/* @media query 420 start here */
@media (min-width: 420px){
    .owl-item {
        width: 100%;
        height: 100%;
        display: table-row;
    }
    .owl-item .image {
        width: 65%;
    }
    .owl-item .image img {
        max-width: 100%;
    }
    .owl-item h1 {
        line-height: 20px;
        font-size: 14px;
        padding: 0 !important;
    }
    .owl-item p{
        font-size: 9px;
        line-height: 13px;
    }
    .owl-item .lern-btn, .owl-item .get-btn {
        width: 125px;
        font-size: 9px;
        margin-left: 5px;
    }
    .owl-item a {
        line-height: 11px;
        font-size: 17px;
        padding: 8px 18px;
    }
}
/* @media query 576 start here */

@media (min-width: 576px) {

    .owl-item {
        width: 100%;
        height: 100%;
        display: block;
    }

    .owl-item .image {
        width: 80%;
    }

    .owl-item .image img {
        max-width: 100%;
    }

    .owl-item h1 {
        line-height: 24px;
        font-size: 17px;
    }

    .owl-item p {
        font-size: 11px;
        color: #fff;
        font-weight: 500;
        line-height: 22px;
    }
    .owl-item .lern-btn, .owl-item .get-btn {
        width: 137px;
        font-size: 10px;
    }
    .owl-item a{
        padding: 11px 20px;
        line-height: 11px;
    }
}

/* @media query 768 start here */
@media (min-width: 768px) {
    .owl-item {
        width: 100%;
        height: 80%;
        display: block;
    }

    .owl-item .image {
        width: 80%;
    }

    .owl-item .image img {
        max-width: 100%;
    }

    .owl-item h1 {
        color: #fff;
        line-height: 34px;
        font-size: 23px;
        font-weight: 650;
    }

    .owl-item p {
        font-size: 13px;
        line-height: 33px;
        font-weight: 500;
        color: #fff;
    }

    .owl-item .lern-btn,
    .owl-item .get-btn {
        font-size: 12px;
        width: 156px;
        text-transform: uppercase;
        font-weight: 700;
        border-bottom: 3px solid rgba(0, 0, 0, .4);
        position: relative;
        display: inline-block;
        overflow: hidden;
        margin-right: 10px;
    }
    .owl-item a{
        padding: 10px 23px;
        line-height: 22px;
    }
}

/* @media query 992 start here */
@media (min-width: 992px) {
    .owl-item {
        width: 100%;
        height: 100%;
        display: block;
    }

    .owl-item .image {
        width: 85%;
    }

    .owl-item .image img {
        max-width: 100%;
    }

    .owl-item h1 {
        transition: all 0s ease 0s;
        color: #fff;
        line-height: 53px;
        font-size: 32px;
        font-weight: 650;
    }

    .owl-item p {
        font-size: 15px;
        line-height: 30px;
        font-weight: 500;
        color: #fff;
    }

    .owl-item .lern-btn,
    .owl-item .get-btn {
        font-size: 13px;
        width: 164px;
        text-transform: uppercase;
        font-weight: 700;
        display: inline-block;
        margin-right: 10px;
    }
    .owl-item a{
        padding: 15px 30px;
        line-height: 21px;
    }

}

/* @media query 1200 start here */
@media (min-width: 1200px) {
    .owl-item {
        width: 100%;
        height: 100%;
        display: block;
    }

    .owl-item .image {
        width: 85%;
    }

    .owl-item h1 {
        line-height: 60px;
        font-size: 40px;
    }

    .owl-item p {
        font-size: 15.5px;
        line-height: 30px;
    }

    .owl-item .image {
        width: 84%;
    }

    .owl-item .image img {
        max-width: 100%;
    }

    .owl-item .lern-btn,
    .owl-item .get-btn {
        font-size: 14px;
        width: 180px;
        margin-right: 20px;
    }
    .owl-item a{
        padding: 15px 30px;
        line-height: 22px;
    }
}
/*---/ media query css end here /*---*/